BODY {
        background-attachment: fixed;
}

.menu {
        font-size: 11pt;
        font-weight: 100;
        font-family: "Times New Roman","Times",serif;
        color: #000000;
}

.anchors {
        font-size: 14pt;
        font-weight: 100;
        font-family: "Times New Roman","Times",serif;
        color: white;
}

.bigger {
        font-size: 28pt;
        font-weight: 100;
        font-family: "Times New Roman","Times",serif;
        color: white;
}

.helpfont {
        font-size: 72pt;
        font-weight: 100;
        font-family: "Times New Roman","Times",serif;
        color: white;
}

A:link {
        text-decoration:none;
}

.MartinAnchors {
        font-size: 11pt;
        font-weight: 100;
        font-family: "Arial";
        color: black;
}

.MartinAnchorsSmall {
        font-size: 9pt;
        font-weight: 100;
        font-family: "Arial";
        color: black;
}

.MartinAnchorsSW {
        font-size: 9pt;
        font-weight: 100;
        font-family: "Arial";
        color: white;
}

.glossarySmall {
        font-size: 10pt;
        font-weight: 100;
        font-family: "Arial";
        color: black;
}

.glossaryBig {
        font-size: 12pt;
        font-weight: 100;
        font-family: "Arial";
        color: black;
}

.posttitles {
        font-size: 12pt;
        font-weight: 100;
        font-family: "Arial";
        color: white;
}

.buttons {
        font-size: 11pt;
        font-weight: 100;
        font-family: "Arial";
        color: white;
}

.thelink {
        font-size: 15pt;
        font-weight: 100;
        font-family: "Arial";
        color: white;
}

.subtitles {
        font-size: 18pt;
        font-weight: 100;
        font-family: "Arial";
        color: white;
}

.zoom1 {
	font-size: 05pt;
	color: #CFC15F;
	font-family: "Times New Roman","Times",serif;
}

.zoom2 {
	font-size: 08pt;
	color: #D3C770;
	font-family: "Times New Roman","Times",serif;
}

.zoom3 {
	font-size: 10pt;
	color: #D8CD7E;
	font-family: "Times New Roman","Times",serif;
}

.zoom4 {
	font-size: 13pt;
	color: #DDD38C;
	font-family: "Times New Roman","Times",serif;
}

.zoom5 {
	font-size: 15pt;
	color: #E0D89A;
	font-family: "Times New Roman","Times",serif;
}

.zoom6 {
	font-size: 18pt;
	color: #E4DDA9;
	font-family: "Times New Roman","Times",serif;
}

.zoom7 {
	font-size: 20pt;
	color: #EAE3B7;
	font-family: "Times New Roman","Times",serif;
}

.zoom8 {
	font-size: 23pt;
	color: #EDE8C5;
	font-family: "Times New Roman","Times",serif;
}

.zoom9 {
	font-size: 25pt;
	color: #F0ECCC;
	font-family: "Times New Roman","Times",serif;
}

.zoom10 {
	font-size: 28pt;
	color: #F7F4E1;
	font-family: "Times New Roman","Times",serif;
}

.fade1 {
	font-size: 50pt;
	color: #020024;
	font-family: "Times New Roman","Times",serif;
}

.fade2 {
	font-size: 50pt;
	color: #060086;
	font-family: "Times New Roman","Times",serif;
}

.fade3 {
	font-size: 50pt;
	color: #0A00C4;
	font-family: "Times New Roman","Times",serif;
}

.fade4 {
	font-size: 50pt;
	color: #1346FF;
	font-family: "Times New Roman","Times",serif;
}

.fade5 {
	font-size: 50pt;
	color: #4339FF;
	font-family: "Times New Roman","Times",serif;
}

.fade6 {
	font-size: 50pt;
	color: #6962FF;
	font-family: "Times New Roman","Times",serif;
}

.fade7 {
	font-size: 50pt;
	color: #847DFF;
	font-family: "Times New Roman","Times",serif;
}

.fade8 {
	font-size: 50pt;
	color: #B0ACFF;
	font-family: "Times New Roman","Times",serif;
}

.fade9 {
	font-size: 50pt;
	color: #DBD9FF;
	font-family: "Times New Roman","Times",serif;
}

.fade10 {
	font-size: 50pt;
        color: #EDECFF;
	font-family: "Times New Roman","Times",serif;
}
